**Operators**

    * Arthmetic Operators
    * Assignment Operator
    * Comparasion Operator
    * Logical Operator
    * Membership Operator

In [1]:
#Arthemetic Operator
a = 17
b = 5

print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a // b)
print(a ** b)
print(a % b)

22
12
3.4
85
3
1419857
2

In [6]:
#Assignment Operator

z = 50

z += 5
print(z)

z -= 10
print(z)

z *= 2
print(z)

55
45
90

In [10]:
#Comparasion Operator
salary = 50000

print(salary == 50000)
print(salary != 50000)
print(salary != 40000)

print(salary > 45000)
print(salary < 55000)

print(salary >= 45000)
print(salary <= 55000)

True
False
True
True
True
True
True

In [14]:
#Logical Operator

age = 30
weight = 65

print(age > 25 and weight > 60)    #True and True => True
print(age > 25 and weight < 60)    #True and False => False
print(age < 25 and weight > 60)    #False and True => False
print(age < 25 and weight < 60)    #False and False => False

True
False
False
False

In [15]:
#Logical Operator

age = 30
weight = 65

print(age > 25 or weight > 60)    #True or True => True
print(age > 25 or weight < 60)    #True or False => True
print(age < 25 or weight > 60)    #False or True => True
print(age < 25 or weight < 60)    #False or False => False

True
True
True
False

In [32]:
#Logical Operator

age = 30
weight = 65

print(not(age > 25 or weight > 60))   #True or True => True
print(not(age > 25 or weight < 60))   #True or False => True
print(not(age < 25 or weight > 60))    #False or True => True
print(not(age < 25 or weight < 60))    #False or False => False

False
False
False
True

In [33]:
#Membership Operator

name = "Bipul Kumar Shahi"

print("x" in name)
print("B" in name)
print("s" in name)
print("Kumar" in name)

False
True
False
True

In [24]:
print("x" not in name)
print("B" not in name)
print("s" not in name)
print("Kumar" not in name)

True
False
True
False

In [20]:
cities = ("Patna" , "Jaipur" , "Delhi" , "Indore" , "Nagpur")
print("Delhi" in cities)
print("Mumbai" in cities)

True
False

In [26]:
#Bitwise operator

print(5 & 6)
print(5 | 6)

4
7

In [31]:
print(~2)

-3

**Logical Programming**

    * if
    * if-else
    * if-elif-else

In [38]:
age = 22

if age > 18:
    print("You are eligible to vote")

You are eligible to vote

In [41]:
age = 13

if age > 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

You are not eligible to vote

In [51]:
marks = int(input("Enter Your marks"))

if marks > 90:
    print("Grade A+")
elif marks > 80:
    print("Grade A")
elif marks > 70:
    print("Grade B+")
elif marks > 60:
    print("Grade B")
elif marks > 50:
    print("Grade C+")
elif marks > 40:
    print(" Grade C")
else:
    print("Fail")

Enter Your marks 75

Grade B+

In [50]:
num = "55"
print(type(num))

<class 'str'>

In [52]:
marks = int(input("Enter Your marks"))

if marks > 90:
    print("Grade A+")
if marks > 80:
    print("Grade A")
if marks > 70:
    print("Grade B+")
if marks > 60:
    print("Grade B")
if marks > 50:
    print("Grade C+")
if marks > 40:
    print(" Grade C")
else:
    print("Fail")

Enter Your marks 95

Grade A+
Grade A
Grade B+
Grade B
Grade C+
 Grade C