In [1]:
print("Hello World")

Hello World

In [3]:
a = 7
b = 5
c = a * b
print(c)

35

**Python**

    * Variables & values
    * Data Types
    * Operators
    * Conditional Programming - if/else
    * Loops - for/while
    * functions

In [4]:
print("Hello World")

Hello World

In [10]:
name = "Bipul"
age = 100
salary = 654947.58

In [12]:
print(type(name))
print(type(age))
print(type(salary))

<class 'str'>
<class 'int'>
<class 'float'>

**List** - It is mutable

In [13]:
student_names = ["Pavan" , "Rajiv" , "Rajesh" , "Arun" , "Ajay"]

print(student_names)

['Pavan', 'Rajiv', 'Rajesh', 'Arun', 'Ajay']

In [14]:
print(type(student_names))

<class 'list'>

In [16]:
print(student_names[2])
print(student_names.index("Arun"))

Rajesh
3

In [22]:
student_names[2] = "Ajit"
print(student_names)

['Pavan', 'Rajiv', 'Ajit', 'Arun', 'Ajay']

**Tuple** - Its is immutable

In [17]:
cities = ("Patna" , "Jaipur" , "Delhi" , "Indore" , "Nagpur")
print(cities)

('Patna', 'Jaipur', 'Delhi', 'Indore', 'Nagpur')

In [18]:
print(type(cities))

<class 'tuple'>

In [21]:
print(cities[2])
print(cities.index("Indore"))

Delhi
3

In [24]:
cities[2] = "Mumbai"

TypeError: 'tuple' object does not support item assignment

**Dictionary** -
 sequential data type with key & value

In [34]:
student_details = {"name" : "Arun" , "age" : 15 , "marks" : 45.5 , 
                   "email" : "arun@abc.com"}

print(student_details)
print(type(student_details))

{'name': 'Arun', 'age': 15, 'marks': 45.5, 'email': 'arun@abc.com'}
<class 'dict'>

In [29]:
print(student_details['name'])
print(student_details['marks'])

Arun
45.5

In [32]:
print(student_details.keys())
print(student_details.values())

dict_keys(['name', 'age', 'marks', 'email'])
dict_values(['Arun', 15, 45.5, 'arun@abc.com'])